<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPL Dataset plotting</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="header">
        <h1>IPL Dataset Plotting Using Matplotlib</h1>
        <p>**Dataset from 2008 - 2020**</p>
    </div>
    <div class="data-img">
        <h2>IPL Matches Played Per Year</h2>
        <img src="static\images\matches per year.png" alt="">
    </div>
    <div class="data-img">
        <h2>IPL Mathces Played Per City</h2>
        <img src="static\images\matches per city.png" alt="">
    </div>
    <div class="data-img">
        <h2>Matches Won By Every Team</h2>
        <img src="static\images\matches won by teams.png" alt="">
    </div>
    <div class="data-img">
        <h2>Extra Runs Conceded By Teams In The Year 2016</h2>
        <img src="static\images\extra runs per team in 2016.png" alt="">
    </div>
    <footer>
        Made by Saran Sinha
    </footer>
</body>

</html>